appnope==0.1.0
backcall==0.1.0
binarytree==4.0.0
branca==0.3.1
certifi==2018.11.29
chardet==3.0.4
conda==4.3.16
cycler==0.10.0
decorator==4.3.0
folium==0.7.0
idna==2.8
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
Jinja2==2.10
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
numpy==1.22.0
pandas==0.23.4
parso==0.3.2
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.7
ptyprocess==0.6.0
pycosat==0.6.3
Pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.7.5
pytz==2018.9
pyzmq==17.1.2
requests==2.21.0
ruamel.yaml==0.15.87
scipy==1.2.0
seaborn==0.9.0
Shapely==1.6.4.post2
six==1.12.0
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
